<div class="card-deck mb-3 text-center">   
  <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">join</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Get started for free</h1>
          <P>This news is from Peru. A group of fishermen get lucky. They catch a very big fish. It is one tonne heavy. It is eight metres long. This fish is a “manta ray”.</p>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Sign Up</h4>
      </div>
      <div class="card-body">
        <%# render %>
        <%# <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button> %>
      </div>
    </div>
  </div>
</div>